* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  line-height: 1;
  background: rgb(132, 254, 255);
  background: linear-gradient(
    0deg,
    rgba(132, 254, 255, 1) 0%,
    rgba(255, 230, 183, 1) 74%
  );
  padding-bottom: 2.5rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-size: 1.25rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 2rem 0;
  gap: 3rem;
}

.logo-image {
  width: 5rem;
  height: 4rem;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-weight: 700;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: fit-content;
  padding: 10px;
}

.scrollToTopBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  border: 2px solid black;
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s ease
}

.to-top-arrow {
  width: 2rem;
  height: 2rem;
}

.showBtn {
  opacity: 1;
  transform: translateY(0)
}

.article {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 2rem;
  border-radius: 8px;
  gap: 1rem;
  max-width: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-image-slice: 1;
}

.blog-image {
  width: 100%;
  max-height: 250px;
  max-width: 250px;
}

.mobile {
  display: hidden;
}

main {
  padding: 0 1rem;
  padding-bottom: 2.5rem;
}

a {
  text-decoration: none;
  color: white;
}

.card-title {
  letter-spacing: 2px;
  text-align: center;
  width: 80%;
}

.card-paragraph {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.nav-links {
  display: flex;
  gap: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
  align-items: center;
}

.nav-text {
  color: black;
  font-size: 1rem;
}

.contact-title {
  text-align: center;
  letter-spacing: 2px;
}

.hidden-desktop {
  display: none;
}

/* Footer start */

.social-icons-footer {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 1rem;
}

.social-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 3rem;
}

/* Footer End */

/* Media query for screens with a maximum width of 768px*/
@media (max-width: 768px) {
  /* Mobile header | nav bar */

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-image {
    height: 100px;
    width: 130px;
  }

  .line {
    width: 80vw;
    border: 1px solid transparent;
    border-image: linear-gradient(
      to right,
      transparent 0%,
      transparent 5%,
      #737373 50%,
      transparent 100%
    );
    border-image-slice: 1;
  }

  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 100;
  }

  .nav-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 3rem;
  }

  .nav-text {
    color: white;
    letter-spacing: 0;
  }
  /* End of header / nav bar */

  /* Scroll to top button */
  .scrollToTopBtn {
    position: fixed;
    bottom: 150px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid black;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease
  }

  .to-top-arrow {
    width: 1rem;
    height: 1rem;
  }

  .showBtn {
    opacity: 1;
    transform: translateY(0);
  }
  /* Scroll to top button end */

  /* Blog Container styling */
  .blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 10px;
    border-radius: 8px;
    gap: 1rem;
    max-width: 500px;
    border: 2px solid transparent;
    border-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 10%,
      #737373 50%,
      transparent 100%
    );
    border-image-slice: 1;
  }

  .blog-image {
    width: 100%;
    max-height: 250px;
    max-width: 250px;
  }
  /* End of blog container styling */

  /* Footer */

  .social-icons-footer {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
  }

  .social-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 3rem;
  }

  /* Footer end */
}
